:root {
  --primary: #91b69e;
  --secondary: #9caea9;
  --tertiary: #668c8c;
  --light-dark: #a29e9d;
  --dark: #8e5d51;
  --border-radius: .3rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(---primary);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--dark);
    line-height: 2;
    font-size: 20px;
}

main {
    margin: 20px auto;
    width: 100%;
}

.card {
  margin: 0 20px 20px 20px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
}

.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 2.5%;
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.card-body {
  padding: 2.5%;
}

.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.min-100-vh {
  min-height: 100vh;
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}


p {
  font-size: 1.5rem;
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 10px 15px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(---primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
}

.btn:hover {
    color: var(---primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  
  .space-evenly { 
    justify-content: space-evenly; 
  }
  .space-evenly li {
    background: #bada55; 
  }
  
  .flex-item {
    background: tomato;
    padding: 5px;
    width: 60px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }
